body {
    font-size: 24px;
    /*box-sizing: border-box;*/
}

button {
    font-size: 18px;
    min-width: 72px;
    min-height: 72px;
}

.project {
    width: 60%;
}

#about-me p {
    width: 80%;
}

#js-picture {
    background-image: url('../img/matrix-large.jpg');
}

@media screen and (min-width: 951px) and (max-width: 1245px) {
    .project {
        width: 40%;
    }
}

@media screen and (min-width: 1246px) {
    .d-flex-large {
        display: flex;
        align-items: center;
    }

    #banner-text {
        margin-left: 2rem;
    }

    .project {
        width: 30%;
    }

    #about-me {    
        flex-direction: row;
        text-align: left;
    }
    
    #about-me img {
        margin: 1em;
    }

    #about-me p {
        width: 80%;
    }

    #js-picture {
        width: 80%;
    }
    #skillset-js ul {
        width: 80%;
    }
}

@media screen and (min-width: 1660px) {
    #projects {
        width: 90%;
    }
}