body {
    font-size: 24px;
    /*box-sizing: border-box;*/
}

button {
    font-size: 18px;
    min-width: 72px;
    min-height: 72px;
}

.project {
    width: 30%;
}

#about-me {    
    flex-direction: row;
}

#about-me img {
    margin: 1em;
}

#js-picture {
    background-image: url('../img/matrix-large.jpg');
}

#about-me {
    text-align: left;
}
